<div class="container-fluid">
    <div class="row d-flex justify-content-center align-content-center homePanel">
        <div class="col-12 text-center row pt-5">
            <span *ngIf="gameInfo == null || gameInfo.gameBoard == null" class="display-4 col-12">Welcome to Mancala
                game!</span>
            <div class="col-md-2 col-lg-2 col-xl-3"></div>
            <div *ngIf="gameInfo == null || gameInfo.gameBoard == null"
                 class="col-12 col-md-8 col-lg-8 col-xl-6 text-justify mt-4">
                <img src="../../assets/gameBoard.png" class="inherited-list" alt="">
                <p></p>
                <strong class="text-start mb-0">Board Setup</strong>
                <p class="text-start">
                    Each of the two players has his six pits in front of him. To the right of the six pits, each player
                    has a larger pit. At the start of the game, there are six stones in each of the six round pits .
                </p>

                <strong class="text-start mb-0">Game Play</strong>
                <p class="text-start">
                    The player who begins with the first move picks up all the stones in any of his own six pits,
                    and sows the stones on to the right, one in each of the following pits, including his own big pit.
                    No stones are put in the opponents' big pit. If the player's last stone lands in his own big pit,
                    he gets another turn. This can be repeated several times before it's the other player's turn.
                </p>

                <strong class="text-start mb-0">Capturing Stones</strong>
                <p class="text-start">
                    During the game the pits are emptied on both sides. Always when the last stone lands in an own empty
                    pit, the player captures his own stone and all stones in the opposite pit (the other player’s pit)
                    and puts them in his own (big or little?) pit.
                </p>

                <strong class="text-start mb-0">The Game Ends</strong>
                <p class="text-start">
                    The game is over as soon as one of the sides runs out of stones. The player who still has stones in
                    his pits keeps them and puts them in his big pit. The winner of the game is the player who has the
                    most stones in his big pit.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-3"></div>
        </div>
        <div *ngIf="gameInfo != null && gameInfo.gameBoard != null" class="mt-5 col-12">
            <app-game-board [gameInfo]="gameInfo" (sowEvent)="sow($event)">
            </app-game-board>
        </div>

        <div *ngIf="!isConnected && !isConnecting" class="col-12 pt-3 d-flex flex-column align-items-center">
            <button class="btn btn-outline-dark" (click)="connect()">Connect</button>
        </div>
        <div *ngIf="isConnecting" class="col-12 pt-3 d-flex flex-column align-items-center">
            <div class="spinner-border"></div>
            <div>connecting</div>
        </div>
        <div *ngIf="isConnected" class="col-12 pt-3 text-center">
            <div *ngIf="gameInfo != undefined">
                <span class="alert-danger">{{myInfo.errorMsg}}</span>
            </div>
            <div *ngIf="isFinished && !isConnecting">
                <div class="text-center">
                    <button *ngIf="gameInfo == null || gameInfo.gameBoard == null" (click)="joinGame()"
                            class="btn btn-outline-secondary">Match
                    </button>
                    <button *ngIf="gameInfo != null && gameInfo.gameBoard != null" (click)="joinGame()"
                            class="btn btn-outline-secondary">Rematch
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>